{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- SEO Meta Tags -->
        <meta name="description" content="Pavo is a mobile app Tailwind CSS HTML template created to help you present benefits, features and information about mobile apps in order to convince visitors to download them" />
        <meta name="author" content="Your name" />

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="" /> <!-- website name -->
        <meta property="og:site" content="" /> <!-- website link -->
        <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image" /> <!-- to have large image post format in Twitter -->

        <!-- Webpage Title -->
        <title>Pavo Webpage Title</title>

        <!-- Styles -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet" />
        <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
        <link href="{% static 'swiper.css' %}" rel="stylesheet" />
        <link href="{% static 'magnific-popup.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

        <!-- Favicon  -->
        <link rel="icon" href="{% static 'images/favicon.png' %}" />
    </head>
    <body data-spy="scroll" data-target=".fixed-top">

        <!-- Navigation -->
        <nav class="navbar fixed-top">
            <div class="container sm:px-4 lg:px-8 flex flex-wrap items-center justify-between lg:flex-nowrap">
                
                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <!-- <a class="text-gray-800 font-semibold text-3xl leading-4 no-underline page-scroll" href="index.html">Pavo</a> -->

                <!-- Image Logo -->
                <a class="inline-block mr-4 py-0.5 text-xl whitespace-nowrap hover:no-underline focus:no-underline" href="{%url 'main'%}">
                    <h2>FIND MY CHILD</h2>
                </a>

                <button class="background-transparent rounded text-xl leading-none hover:no-underline focus:no-underline lg:hidden lg:text-gray-400" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon inline-block w-8 h-8 align-middle"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse lg:flex lg:flex-grow lg:items-center" id="navbarsExampleDefault">
                    <ul class="pl-0 mt-3 mb-2 ml-auto flex flex-col list-none lg:mt-0 lg:mb-0 lg:flex-row">
                        <li>
                            <a class="nav-link page-scroll active" href="#map">MAP <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a class="nav-link page-scroll" href="#road">ROADVIEW</a>
                        </li>
                        
                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->

        


        <!-- Testimonials -->
        <div id = "map" class="slider-1 py-32 bg-gray">
            <div class="container px-4 sm:px-8">
                <h2 class="mb-12 text-center lg:max-w-xl lg:mx-auto">Map</h2>

                <div style="width: 100%">
                    <p id="address"></p>
                </div>
                <div id="map-display" style="width:100%;height:400px;"></div>
              

            </div> <!-- end of container -->
        </div> <!-- end of slider-1 -->
        <!-- end of testimonials -->

        <div id = "road" class="slider-1 py-32 bg-gray">
            <div class="container px-4 sm:px-8">
                <h2 class="mb-12 text-center lg:max-w-xl lg:mx-auto">ROADVIEW</h2>

                <div style="width: 100%">
                    <p id="address"></p>
                </div>
                <div id="roadview" style="width:100%;height:300px;"></div>

                

            </div> <!-- end of container -->
        </div> <!-- end of slider-1 -->
        <!-- end of testimonials -->
        



        <!-- Scripts -->
        
        <script src="{% static 'js/Gps.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for JavaScript plugins -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
        <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
        <script>
            var geocoder = new kakao.maps.services.Geocoder();
            var displayAddress = document.getElementById('address');

            function setAddress(address_name, road_name) {
                displayAddress.innerHTML = address_name + ' ' + road_name;
            };

            function onGeoSuccess(position) {
                const lat = position.coords.latitude;
                const lng = position.coords.longitude;

                var location = new kakao.maps.LatLng(lat, lng),
                message = '<div> 현재 위치 </div>';

                displayMarker(location, message);

                geocoder.coord2Address(lng, lat, function(result, status){
                if (status === kakao.maps.services.Status.OK) {
                    setAddress(result[0].address.address_name, result[0].road_address.road_name);
                }
                });
            };

            function onGeoError() {
                alert("위치 정보를 찾을 수 없습니다.");
            };

            function displayMarker(location, message){
                var marker = new kakao.maps.Marker({
                map: map,
                position: location
                });

                var icontent = message,
                iremoveable = true;
                
                var infoWindow = new kakao.maps.InfoWindow({
                content: icontent,
                removable: iremoveable
                });

                infoWindow.open(map, marker);
                map.setCenter(location);
            };

            var mapContainer = document.getElementById('map-display'), 
                mapOption = { 
                center: new kakao.maps.LatLng(33, 126),
                level: 10
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);

            navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
                
            var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
            var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
            var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체
            

            function onGeoSuccess(position) {
                const lat = position.coords.latitude;
                const lng = position.coords.longitude;

                var location = new kakao.maps.LatLng(lat, lng);
            

            // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
                roadviewClient.getNearestPanoId(location, 60, function(panoId) {
                    roadview.setPanoId(panoId, location); //panoId와 중심좌표를 통해 로드뷰 실행
                });
            };

            // var position = new kakao.maps.LatLng(33.450701, 126.570667);
            

            // // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
            // roadviewClient.getNearestPanoId(position, 50, function(panoId) {
            //     roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행
            // });
            </script>
    </body>
</html>
